<launch>
     <arg name="camera_link_pose" default="0.15 0.075 0.5 0.0 0.7854 0.0"/>
     <arg name="kinect" default="false"/>
     <group if="$(arg kinect)" >
         <!-- launch openni to talk to kinect -->
         <include file="$(find freenect_launch)/launch/freenect.launch">
             <!-- These args are workarounds for tf_prefix issues in freenect.launch -->
             <arg name="rgb_frame_id" value="camera_rgb_optical_frame"/>
             <arg name="depth_frame_id" value="camera_depth_optical_frame"/>
         </include>
         <!-- Users update this to set transform between camera and robot -->
         <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
               args="$(arg camera_link_pose) /torso /camera_link 100" />

         <!-- octomap parameters for moveit -->
         <group ns="move_group" >
             <rosparam command="load" file="$(find baxter_moveit_config)/config/kinect_sensor.yaml" />
         </group>
     </group>
     <arg name="xtion" default="false"/>
     <group if="$(arg xtion)" >
         <!-- launch openni to talk to xtion -->
         <include file="$(find openni_launch)/launch/openni.launch">
             <!-- These args are workarounds for tf_prefix issues in openni.launch -->
             <arg name="rgb_frame_id" value="camera_rgb_optical_frame" />
             <arg name="depth_frame_id" value="camera_depth_optical_frame" />
         </include>
         <!-- Users update this to set transform between camera and robot -->
         <!-- This example has the Xtion mounted to the chest of the robot -->
         <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
               args="$(arg camera_link_pose) /torso /camera_link 100" />

         <!-- octomap parameters for moveit -->
         <group ns="move_group" >
             <rosparam command="load" file="$(find baxter_moveit_config)/config/xtion_sensor.yaml" />
         </group>
     </group>

     <!-- Octomap settings common to both sensors -->
     <group ns="move_group" >
       <param name="octomap_frame" type="string" value="camera_link" />
       <param name="octomap_resolution" type="double" value="0.02" />
     </group>
</launch>
