<launch>
  <include file="$(find atlas_v3_moveit_config)/launch/planning_context.launch">
    <!-- robot_description should already be loaded-->
    <arg name="load_robot_description" value="false"/>
  </include>

  <include file="$(find atlas_v3_moveit_config)/launch/move_group.launch">
    <!-- trajectory actions should be prepared -->
    <arg name="allow_trajectory_execution" value="true"/>
  </include>

  <include file="$(find atlas_v3_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

  <include file="$(find atlas_v3_moveit_config)/launch/default_warehouse_db.launch" />
</launch>
